$color: #1d89e3;

.vieted-home-page-info {
  font-weight: 300;
  background-color: #ffffff;
  padding: 60px 0;

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__item {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
    margin: 8px;
  }

  &__item-image {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: solid 1px $color;
    border-radius: 50%;
  }

  &__item-image img {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }

  &__item-number {
    font-size: 36px;
    color: $color;
    margin-bottom: -9px;
  }

  &__item-name {
    font-size: 14px;
  }

}

@media (max-width: 480px) {
  .vieted-home-page-info {
    padding: 15px 0;

    &__item-number {
      font-size: 32px;
    }

    &__item-name {
      font-size: 12px;
    }
  }
}