.assignment-for-marking-results {
  th {
    border: 1px solid rgb(224, 224, 224);
  }
  td {
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}
