@import 'layouts/themes/NEW_UI_JULY_2019-theme.scss';
@mixin status-color($text-color) {
  * {
    color: $text-color !important;
  }
}
.oe {
  max-height: 100px !important;
  overflow-y: scroll !important;
  width: 50%;
  .mobile-content {
    display: none;
  }
}

@media (max-width: 1200px) {
  .oe {
    .web-content {
      display: block;
    }
    .mobile-content {
      display: none;
    }
  }
}

@media (max-width: 960px) {
  .oe {
    .web-content {
      display: block;
    }
    .mobile-content {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .oe {
    .oe {
      .web-content {
        display: none;
      }
      .mobile-content {
        display: block;
      }
    }
  }
}

@media (max-width: 480px) {
  .oe {
    .web-content {
      display: none;
    }
    .mobile-content {
      display: block;
    }
  }
}
.EP-member-table-result {
  margin-bottom: 10px;

  *:not(.mi),
  *:not(.icon.ti) {
    font-family: $NEW_UI_JULY_2019-font-roboto-regular;
    font-size: 14px;
  }

  > div {
    border-radius: 5px;
  }

  table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    tbody {
      tr {
        td {
          padding-top: 15px;
          padding-bottom: 15px;
          border: 1px solid #e0e0e0;
          &:first-child {
            padding: 15px !important;
          }
        }
      }
    }
  }

  &-header {
    background: $NEW_UI_JULY_2019-background-muted-color;
    border-radius: 5px !important;

    * {
      color: $NEW_UI_JULY_2019-text-muted-color;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }

    tr {
      td {
        &:first-child {
          padding: 24px !important;
        }
      }
      th {
        border: 1px solid #e0e0e0;
        padding-left: 0 !important;
        &:first-child {
          padding-left: 15px !important;
        }
        &:last-child {
          padding-right: 15px !important;
        }
        svg {
          display: contents;
        }
      }
    }
  }
  .mi {
    font-weight: bold !important;
    &.mi-done {
      color: $NEW_UI_JULY_2019-text-success-color !important;
    }
    &.mi-delete {
      color: $NEW_UI_JULY_2019-text-danger-color !important;
    }
  }
  tr[class^='EP-member-'],
  tr[class*='EP-member-'] {
    td:not(:first-child) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    tr {
      td:first-child {
        width: 4%;
      }
    }
  }
  .EP-member- {
    &pending {
      @include status-color($NEW_UI_JULY_2019-text-muted-color);
    }
    &approved {
      @include status-color($NEW_UI_JULY_2019-text-success-color);
    }
    &reject {
      @include status-color($NEW_UI_JULY_2019-text-danger-color);
    }
  }
}
.ep-member-search-form {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}
