.payment-panel {
  background-color: #ffffff;
}

.payment-container {
  padding: 1em;
  max-width: 70%;

  &__section-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

}
