.ui-fly-panel {
  background: none;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;

  &.hidden {
    display: none;
  }

  &.show {
    display: block;
  }
  &.menu-fly {
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    display: block;
  }
}