.my-skills {
  margin-bottom: 30px;
  h3 {
    font-size: 26px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .my-skills {
    margin-top: 20px;
    h3 {
      font-size: 20px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}