.admin-academic-category-tree-results__node {
  display: flex;
  align-items: center;
  min-height: 40px; }

.admin-academic-category-tree-results__node-name {
  flex-grow: 1; }

.admin-academic-category-tree-results__node-actions {
  min-width: 100px; }
