.invoice-detail-wrapper {
  .paying-fees-wrapper {
    margin-top: 20px;
  }
  .pay-invoice-btn {
    text-align: center;
    margin-top: 15px;
    color: white;
  }
  .new-invoice-wrapper {
    margin-top: 10px;
  }
}
