.dashboard-action {
  position: fixed;
  top: 45px;
  right: 10px;
  margin: 0 auto;
  z-index: 10000;
  .cancel {
    margin: 0 10px;
  }
}

.widget-gird-layout-container {
  margin: 0 -1% !important;
}

.dashboard {
  .rbc-calendar {
    height: unset;
  }
}